// CSS Support
@mixin support( $type, $value, $justify ){
  @if( $type == 'display' && $value == 'flex'  ){

    @supports #{($type: $value)}{
      display: $value;
      flex-flow: row wrap;
      align-items: center;
      @-moz-document url-prefix(){
        align-items: normal !important;
      }
      justify-content: $justify;
    }

  }
  @else{

    @supports #{($type: $value)}{
      @content;
      @if( $justify != 'null' ){
        justify-content: $justify;
      }
    }

  }
}
