//css scale
@mixin scale($factor) {
    -webkit-transform: scale($factor);
    -moz-transform: 	 scale($factor);
    -ms-transform: 		 scale($factor);
    -o-transform: 		 scale($factor);
}

//css rotate
@mixin rotate( $deg ){
  transform: rotate(#{$deg}deg);
  -webkit-transform: rotate(#{$deg}deg);
  -moz-transform: rotate(#{$deg}deg);
  -o-transform: rotate(#{$deg}deg);
  -ms-transform: rotate(#{$deg}deg);
}


//css transform-origin
@mixin transform-origin($x, $y) {
    -webkit-transform-origin: $x $y;
    -moz-transform-origin:    $x $y;
    -ms-transform-origin:     $x $y;
    -o-transform-origin:      $x $y;
}
