/*------------------------------
Screen Size
------------------------------*/

// Extra large screen / wide desktop
$screen-xl:                  1560px !default;
$screen-xl-min:              $screen-xl !default;
//** Deprecated `$screen-lg-desktop` as of v3.0.1
$screen-xl-desktop:          $screen-xl-min !default;

// So media queries don't overlap when required, provide a maximum
$screen-lg-max:              ($screen-xl-min - 1) !default;

// Large screen / wide desktop
$container-extralarge-desktop: ($screen-xl - $grid-gutter-width) !default;
//** For `$screen-lg-min` and up.
$container-xl:                 $container-extralarge-desktop !default;

/*------------------------------
Grid
------------------------------*/

.container-xl {
  @include container-fixed;

  @media (min-width: $screen-xl-min) {
    width: $container-xl;
  }
}

// Extra large grid
//
// Columns, offsets, pushes, and pulls for the large desktop device range.

@media (min-width: $screen-xl-min) {
  @include make-grid(xl);
}

/*------------------------------
Colours
------------------------------*/
$white:  $body-bg !default;
$black:  #000 !default;
$grey: $gray-base !default;
$wp-toolbar: #23282d !default;
$gold: #ab9459 !default;

// custom colours

$colours: ('white': $white, 'black': $black, 'gray': $grey, 'gold': $gold);

/*------------------------------
Font
------------------------------*/
// Headings
$h1:  $font-size-h1 !default;
$h2:  $font-size-h2 !default;
$h3:  $font-size-h3 !default;
$h4:  $font-size-h4 !default;
$h5:  $font-size-h5 !default;
$h6:  $font-size-h6 !default;

// Non-headings
$font-size:  $font-size-base + 2 !default;
$font-lg:    $font-size-large + 3 !default;
$font-md:    $font-size-large !default;
$font-sm:    $font-size-small !default;
$font-xs:    $font-size-small - 2 !default;

// Font family
$font: system !default;
$headers: $font-family-serif !default;
$light: $font !default;

/*------------------------------
Animations
------------------------------*/

$time: 320ms;
$time_slow: 700ms;

$swing: cubic-bezier(0.55, 0, 0.1, 1);
$swift: cubic-bezier(0.4, 0, 0.2, 1);
$ease: ease;

$transition-default: all $time $ease;
